doctype html
html
	head
		link(rel='stylesheet', href='../stylesheets/style.css')
		title= title

	body
		include partials/header.pug
		div.input-field-1
			h3(style="margin-top: 0")= title
			include partials/messages.pug

			form#register_t0d(action='/users/register' method='POST' accept-charset="UTF-8")
				thead
					tr
						td
							label.input-label-1(for='usrNm') Username
							input#usrNm.input-unit-1(type='text', placeholder='enter data', name='name', required='', value=typeof name != 'undefined' ? name : '')
						td
							label.input-label-1(for='usrEml') Email
							input#usrEml.input-unit-1(type='email', placeholder='enter data', name='email', required='', value=typeof email != 'undefined' ? email : '')
						td
							label.input-label-1(for='usrPwd') Password
							input#usrPwd.input-unit-1(type='password', placeholder='enter data', name='password', required='', value=typeof password != 'undefined' ? password : '')
						td
							label.input-label-1(for='usrPwdCnfrm') Confirm Password
							input#usrPwdCnfrm.input-unit-1(type='password', placeholder='enter data', name='password2', required='', value=typeof password2 != 'undefined' ? password2 : '')

			button(type='submit', form='register_t0d', style="display: block; float: left") Submit
